* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
}
.container {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 5%;
}
.vid-container {
  min-width: 50%;
}
#title {
  color: black;
}
.block {
  display: inline-block;
  width: 50%;
}
.btn-group button {
  margin: 0 0.5rem 0 0;
  padding: 0;
  border: 0;
  outline: none;
}
.card-body{
    height: 4rem;
}