* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html {
  font-size: 62.5%;
} */
body {
  background-color: rgba(30, 35, 39, 0.911);
}
.container {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 5%;
}
.vid-container {
  min-width: 50%;
}
#title {
  color: black;
}
.block {
  display: inline-block;
  width: 50%;
}
.vjs-button{
  outline: none;
}
.btn-group button {
  margin: 0 .5rem 0 0;
  padding: 0;
  border: 0;
  outline: none;
}
.card-body{
    height: 4rem;
}