{% extends 'commonops/_base.html' %} {% block extrahead %}
<title>Forbidden</title>
{% endblock %} {% block content %}
<center>
  <div class="alert alert-warning">
    <h2 class="h2 font-weight-normal">Forbidden</h2>
    <strong>Error 403 </strong>(Forbidden) <br />
    Redirecting in <strong id='timer'>0.05s</strong>
  </div>
  <script>
    let counter = 5;
    function redirect(){
      window.location.pathname = '/home'
    }
    function decrement(){
      counter --;
      document.getElementById('timer').textContent = `0.0${counter}s`
      if(counter === 0){
        clearInterval(num);
        redirect()
      }
    }
    const num = setInterval(decrement, 1000);
  </script>
</center>
{% endblock %}
