{% extends 'commonops/_base.html' %} {% load static %} {% load humanize %}{% block extrahead %}
<title>My Album | Intranet</title>
<link href="{% static 'dashboard/css/album.css' %}" rel="stylesheet" />
{% endblock %} {% block customnav %} {% include 'dashboard/customnavbar.html' %} {% endblock %}
{%block content %}
<div id="top"></div>
<section class="jumbotron text-center">
  <div class="container" id="description">
    {% if title or description %}
    <h1>{{ title }}</h1>
    <p class="lead text-muted">
      {{  description }}
    </p>
    <p>
      <a class="btn btn-primary my-2" id="describe-album">Edit Album Intro</a>
    </p>
    {% else%}
    <h1>My Album</h1>
    <p class="lead text-muted">
      Something short and leading about the collection below—its contents, the creator, etc. Make it
      short and sweet, but not too short.
    </p>
    <p>
      <a class="btn btn-primary my-2" id="describe-album">Edit Album Intro</a>
    </p>
    {% endif %}
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% if pictures %} {% for picture in pictures %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a
            ><img
              src="{{ picture.picture.url }}"
              class="card-img-top"
              width="100%"
              height="225"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              role="img"
          /></a>
          <div class="card-body">
            <p class="card-text">
              {% if picture.description %} {{ picture.description }} {% endif %}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  href="{% url 'dashboard:edit-photo' picture.id %}"
                  class="btn btn-sm btn-outline-secondary"
                  >Edit</a
                >
                <a
                  href="{% url 'dashboard:delete-item' 'pic' picture.id %}"
                  class="btn btn-sm btn-outline-danger"
                  >Delete</a
                >
              </div>
              <small class="text-muted">{{picture.upload_date.date | naturalday}}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: Thumbnail"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
          <div class="card-body">
            <p class="card-text">Your photo description</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-sm btn-outline-secondary disabled">Edit</a>
                <a href="#" class="btn btn-sm btn-outline-secondary disabled">Delete</a>
              </div>
              <small class="text-muted">Upload Date</small>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#top">Back to top</a>
  </div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script>window.jQuery || document.write('<script src="{% static "dashboard/js/jquery.slim.min.js" %}"><\/script>')</script>
<script src="{% static 'commonops/js/bootstrap.bundle.min.js' %}"></script>
<script>
  const element = document.querySelector("#describe-album");
  element.addEventListener("click", function (event) {
    const html =
      '<center><form action="{% url "dashboard:profile" %}"method="post" id="desc-form">\
  {% csrf_token %}\
  <div class="row">\
    <div class="col-md-5 mb-3">\
      <label for="album-title">Title</label>\
      <input type="text" placeholder="Title" class="form-control" name="title" />\
    </div>\
  </div>\
  <div class="row">\
    <div class="mb-3">\
      <label for="album-desc">Description</label>\
      <textarea\
        class="form-control"\
        name="description"\
        id="album-desc"\
        cols="30"\
        rows="5"\
        placeholder="Describe your album..."\
      ></textarea>\
    </div>\
  </div>\
  <div class="row">\
    <div class="mb-3 text-center">\
      <button type="submit" class="btn btn-sm">\
        <a class="btn btn-primary my-2">Submit Description</a>\
      </button>\
    </div>\
  </div>\
</form></center>';
    const elem2 = document.querySelector("#description");
    elem2.innerHTML = html;
  });
</script>

{% endblock %}
