{% extends 'commonops/_base.html' %} {% load static %} {% load humanize %}{% block extrahead %}
<title>My Album | Intranet</title>
<link href="{% static 'dashboard/css/album.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'dashboard/css/normalize.min.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/css/animate.min.css' %}">
{% endblock %}

{% block extrastyle %}
.btn-close{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    color: red;
    background-color: aquamarine;
  }
{% comment %} #btn-close-modal{
  display: flex;
  justify-content: center;
} {% endcomment %}
  .img{
    max-height: 253.5px;
  }
{% endblock extrastyle %}


{%block content %}
<div id="top"></div>
<section class="text-center fan">
  <div class="container mb-3" id="description">
    <div class="px-3 py-2">
      <div class="btn-group d-flex justify-content-between align-items-center">
        <button type="button" class="btn btn-sm">
          <a href="#animatedModal" id="demo01" class="btn btn-outline-primary">Go to Music</a>
        </button>
        <button type="button" class="btn btn-sm">
          <a href="{% url 'player:play-video' %}" class="btn btn-outline-primary">Go to Videos</a>
        </button>
      </div>
    
    {% if title or description %}
    <h1 class="h2 font-weight-normal">{{ title }}</h1>
    <p class="lead text-muted">
      {{  description }}
    </p>
    <p>
      <a class="btn btn-primary my-2" id="describe-album">Edit Album Intro</a>
    </p>
    {% else%}
    <h1 class="h2 font-weight-normal">My Album</h1>
    <p class="lead text-muted">
      Something short and leading about the collection below—its contents, the creator, etc. Make it
      short and sweet, but not too short.
    </p>
    <p>
      <a class="btn btn-primary my-2" id="describe-album">Add Album Intro</a>
    </p>
    {% endif %}
    </div>
  </div>
</section>

<!-- Start of the modal-->
<div id="animatedModal" class="fan">
  <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID -->
  
  <div class="container mt-1">
      <!--Your modal content goes here-->
      <div class="d-flex justify-content-between bg-light mb-1">
        <div>
          <h2 class="h2 font-weight-normal">Choose your preferred player</h2>
        </div>
        <div  id="btn-close-modal" class="close-animatedModal">
          <button class="btn btn-close">&times;</button>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="bg-light mr-5">
          <div class="card mb-4 shadow-sm">
          <a
            href="{% url 'player:play-audio' %}?player=alt-player"
            class="btn btn-sm btn-primary"> 
            <img
              src="{% static 'dashboard/images/alt-audio-player(original).png' %}"
              class="card-img-top"
              width="100%"
              height="500"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              role="img"
            />
            </a>
          <div class="card-body">
            <p class="card-text">
              Select this player
            </p>
            <div class="d-flex justify-content-center">
              <div class="btn-group">
                <a
                  href="{% url 'player:play-audio' %}?player=alt-player"
                  class="btn btn-sm btn-primary">Select Player</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-light">
        <div class="card mb-4 shadow-sm">
        <a
          href="{% url 'player:play-audio' %}"
          class="btn btn-sm btn-primary">
          <img
              src="{% static 'dashboard/images/audioplayer.png' %}"
              class="card-img-top"
              width="100%"
              height="500"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              role="img"
          />
        </a>
        <div class="card-body">
          <p class="card-text">
            Select this player
          </p>
          <div class="d-flex justify-content-center">
            <div class="btn-group">
              <a
                href="{% url 'player:play-audio' %}"
                class="btn btn-sm btn-primary">Select Player</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
<!-- End of modal-->

<div class="album py-5 fan">
  <div class="container">
    <div class="row">
      {% if pictures %} {% for picture in pictures %}
      <div class="col-md-4 fan">
        <div class="card mb-4 shadow-sm">
          <img
              src="{{ picture.picture.url }}"
              class="card-img-top img"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              role="img"
          />
          <div class="card-body fan">
            <p class="card-text">
              {% if picture.description %} {{ picture.description }} {% endif %}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  href="{% url 'dashboard:edit-photo' picture.id %}"
                  class="btn btn-sm btn-outline-secondary"
                  >Edit</a
                >
                <a
                  href="{% url 'dashboard:find-item' 'pic' picture.id %}"
                  class="btn btn-sm btn-outline-danger"
                  >Delete</a
                >
              </div>
              <small class="text-muted">{{picture.upload_date.date | naturalday}}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-4 fan">
        <div class="card mb-4 shadow-sm">
          <svg
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: Thumbnail"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
          <div class="card-body bg-dark">
            <p class="card-text">Your photo description</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-sm btn-outline-secondary disabled">Edit</a>
                <a href="#" class="btn btn-sm btn-outline-secondary disabled">Delete</a>
              </div>
              <small class="text-muted">Upload Date</small>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<script>

  const element = document.querySelector("#describe-album");
  element.addEventListener("click",  () => {

    const html =
      '<div><form method="post" id="desc-form" class="form">\
  {% csrf_token %}\
  <div class="row">\
    <div class="col-md-6 mb-3">\
      <label for="album-title">Title</label>\
      <input type="text" id="album-title" placeholder="Title" class="form-control col-lg text-center" name="title" required/>\
    </div>\
  </div>\
  <div class="row">\
    <div class="col-md-6 mb-3">\
      <label for="album-desc">Description</label>\
      <textarea\
        class="form-control"\
        name="description"\
        id="album-desc"\
        cols="30"\
        rows="5"\
        placeholder="Describe your album..." required\
      ></textarea>\
    </div>\
  </div>\
  <div class="row">\
    <div class="mb-3 text-center btn-group">\
      <button type="submit" class="btn btn-sm">\
        <a class="btn btn-primary my-2">Submit Description</a>\
      </button>\
      <button id="refresh" type="button" class="btn btn-sm">\
        <a class="btn btn-secondary my-2">Cancel</a>\
      </button>\
    </div>\
  </div>\
  </form>\
  </div>';
    const elem2 = document.querySelector("#description");
    elem2.innerHTML = html;
  document.getElementById('refresh').onclick = () =>{
    window.location.pathname = '/home'
  }
  });
</script>
<script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
<script src="{% static 'dashboard/js/animatedModal.js' %}"></script>
<script>
  $("#demo01").animatedModal();
</script>
{% endblock content %}

{% block footer %}
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#top">Back to top</a></p>
      
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
          <small class="d-block mb-3 text-muted" id="copy">&copy; </small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Cool stuff</a></li>
            <li><a class="text-muted" href="#">Random feature</a></li>
            <li><a class="text-muted" href="#">Team feature</a></li>
            <li><a class="text-muted" href="#">Stuff for developers</a></li>
            <li><a class="text-muted" href="#">Another one</a></li>
            <li><a class="text-muted" href="#">Last time</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
            <li><a class="text-muted" href="#">Another resource</a></li>
            <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Business</a></li>
            <li><a class="text-muted" href="#">Education</a></li>
            <li><a class="text-muted" href="#">Government</a></li>
            <li><a class="text-muted" href="#">Gaming</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Team</a></li>
            <li><a class="text-muted" href="#">Locations</a></li>
            <li><a class="text-muted" href="#">Privacy</a></li>
            <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
  </div>
</footer>
<script>
  const year = new Date().getFullYear()
  document.getElementById('copy').textContent += year

</script>
{% endblock footer %}


