{% extends 'commonops/_base.html' %} {% load static %} {% load humanize %}{% block extrahead %}
<title>My Album | Intranet</title>
<link href="{% static 'dashboard/css/album.css' %}" rel="stylesheet" />
{% endblock %} {% block customnav %} {% include 'dashboard/customnavbar.html' %} {% endblock %}
{%block content %}
<div id="top"></div>
<section class="text-center">
  <div class="container" id="description">
    <div class="btn-group d-flex justify-content-between align-items-center">
      <button type="button" class="btn btn-sm">
        <a href="{% url 'player:play-audio' %}" class="btn btn-outline-success">Go to Music</a>
      </button>
      <button type="button" class="btn btn-sm">
        <a href="{% url 'player:play-video' %}" class="btn btn-outline-success">Go to Videos</a>
      </button>
    </div>
    {% if title or description %}
    <h1 class="h2 font-weight-normal">{{ title }}</h1>
    <p class="lead text-muted">
      {{  description }}
    </p>
    <p>
      <a class="btn btn-primary my-2" id="describe-album">Edit Album Intro</a>
    </p>
    {% else%}
    <h1>My Album</h1>
    <p class="lead text-muted">
      Something short and leading about the collection below—its contents, the creator, etc. Make it
      short and sweet, but not too short.
    </p>
    <p>
      <a class="btn btn-primary my-2" id="describe-album">Add Album Intro</a>
    </p>
    {% endif %}
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      {% if pictures %} {% for picture in pictures %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <a
            ><img
              src="{{ picture.picture.url }}"
              class="card-img-top"
              width="100%"
              height="225"
              preserveAspectRatio="xMidYMid slice"
              focusable="false"
              role="img"
          /></a>
          <div class="card-body">
            <p class="card-text">
              {% if picture.description %} {{ picture.description }} {% endif %}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  href="{% url 'dashboard:edit-photo' picture.id %}"
                  class="btn btn-sm btn-outline-secondary"
                  >Edit</a
                >
                <a
                  href="{% url 'dashboard:find-item' 'pic' picture.id %}"
                  class="btn btn-sm btn-outline-danger"
                  >Delete</a
                >
              </div>
              <small class="text-muted">{{picture.upload_date.date | naturalday}}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
            role="img"
            aria-label="Placeholder: Thumbnail"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg>
          <div class="card-body">
            <p class="card-text">Your photo description</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-sm btn-outline-secondary disabled">Edit</a>
                <a href="#" class="btn btn-sm btn-outline-secondary disabled">Delete</a>
              </div>
              <small class="text-muted">Upload Date</small>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#top">Back to top</a></p>
  </div>
</footer>
<script>
    
  const element = document.querySelector("#describe-album");
  element.addEventListener("click",  () => {
   
    const html =
      '<div><form method="post" id="desc-form" class="form">\
  {% csrf_token %}\
  <div class="row">\
    <div class="col-md-6 mb-3">\
      <label for="album-title">Title</label>\
      <input type="text" id="album-title" placeholder="Title" class="form-control col-lg text-center" name="title" required/>\
    </div>\
  </div>\
  <div class="row">\
    <div class="col-md-6 mb-3">\
      <label for="album-desc">Description</label>\
      <textarea\
        class="form-control"\
        name="description"\
        id="album-desc"\
        cols="30"\
        rows="5"\
        placeholder="Describe your album..." required\
      ></textarea>\
    </div>\
  </div>\
  <div class="row">\
    <div class="mb-3 text-center btn-group">\
      <button type="submit" class="btn btn-sm">\
        <a class="btn btn-primary my-2">Submit Description</a>\
      </button>\
      <button id="refresh" type="button" class="btn btn-sm">\
        <a class="btn btn-secondary my-2">Cancel</a>\
      </button>\
    </div>\
  </div>\
  </form>\
  </div>';
    const elem2 = document.querySelector("#description");
    elem2.innerHTML = html;
  document.getElementById('refresh').onclick = () =>{
    window.location.pathname = '/home/'
  }
  });
</script>

{% endblock %}
