{% extends 'dashboard/album.html' %} {% block extrahead %}
<title>Deleted | {{ type }}</title>
{% endblock %} 
{% block customnav %}{% endblock customnav %}
{% block content %}
<center>
  <div class="alert alert-success">
    <h2 class="h2 font-weight-normal">Deleted</h2>
    <p id="msg">{{ type }}<strong> {{ file }} </strong>deleted successfully <br /></p>
    <p>Redirecting in <strong id="timer">0.10s</strong></p>
    <button type="button" class="btn btn-sm btn-primary">
      <a href="{% url 'dashboard:profile' %}" class="btn">Back</a>
    </button>
    <a id="player-det" href="{% url 'player:play-audio' %}?player={{ request.session.player }}"></a>
  </div>
  <script>
    let counter = 10;
    const redirect = (item) => {
      switch (item) {
        case "Picture":
          window.location.pathname = "{% url 'dashboard:profile' %}";
          break;
        case "Track":
          document.getElementById('player-det').click()
          break;
        case "Video":
          window.location.pathname = "{% url 'player:play-video' %}";
          break;
        default:
          console.error("No matching path found");
      }
    };
    const decrement = () => {
      counter--;
      document.getElementById("timer").textContent = `0.0${counter}s`;
      if (counter === 0) {
        clearInterval(num);
        redirect(document.querySelector("#msg").textContent.split(" ")[0]);
      }
    };
    const num = setInterval(decrement, 1000);
  </script>
</center>
{% endblock %}
