{% extends 'dashboard/uploadvideo.html' %}
{% block extrahead %}
   <title>Video Upload Error</title>
{% endblock extrahead %}

{% block error %}
    <center>
        <div class="alert alert-warning">
            <h1 class="font-weigth-normal">Upload Error</h1>
            <hr />
            <p style="text-decoration: underline;">Allowed file types are:</p>
            <ul class="m-3">
                {% for type in allowed_types %}
                    <li>{{ type }}</li>
                {% endfor %}
            </ul>
        </div>
    </center>
{% endblock error %}