<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile Details</title>
</head>
<body>
    <center>
        <div>
            <ul style="list-style: none;">
                <li> First Name: {{ user.first_name }}</li>
                <br>
                <li>Middle Name: {{ user.middle_name }}</li>
                <br>
                <li>  Last Name: {{ user.last_name }}</li>
                <br>
                <li>Phone Number: {{ user.phone_number }}</li>
                <br>
                <li>Date Of Birth: {{ user.date_of_birth }}</li>
                <br>
                <li>Next birthday in {{ birthday|timeuntil }}</li>
                <li>You are {{ user.date_of_birth|timesince }} old.</li>
            </ul>
        </div>
    </center>
</body>
</html>