<!DOCTYPE html>
<html lang="en" style="padding: 0;margin: 0;box-sizing: border-box;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <!-- <style>
        *{
            padding: 0rem;
            margin: 0rem;
            box-sizing: border-box;
        }
    </style> -->
</head>
<body style="background-color: darkslategray;">
    <header>
        <nav style="background-color: cadetblue;height: 80px;position: fixed;width: 100%;top: 0px;">
            <ul style="list-style: none;padding-top: 5px;">
                <li style="display: inline-block;"><a href="{% url 'dashboard:upload-photo' %}" style="margin-left: 40px;">Upload Photo</a></li>
                <li style="display: inline-block;"><a href="{% url 'dashboard:upload-music' %}" style="margin-left: 10px;">Upload Music</a></li>
                <li style="display: inline-block;"><a href="{% url 'dashboard:upload-video' %}" style="margin-left: 10px;">Upload Video</a></li>
                <li style="display: inline-block;margin-left: 580px;">Welcome, <a href="{% url 'dashboard:profile-details' %}">{{ user.first_name|capfirst }}</a></li>
                <li style="display: inline-block;" id="logout"><a href="{% url 'dashboard:logout' %}" style="margin-left: 10px;">Log Out</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <br><br><br><br>
            <center>
                <div>
                    <p>
                        <b>{{ total_size|filesizeformat }} of {{ max_size|filesizeformat }} used.</b>
                    </p>
                </div>
            </center>
            <hr style="border: 5px solid cadetblue;">
            <center>
                <p style="background-color: aquamarine;font-size: 20px;width: 100px">Pictures</p>
            </center>
            <hr style="border: 5px solid cadetblue;">
        </div>
        <div>
            <p>
                <b>Space occupied: {{ pic_size|filesizeformat }}</b>
            </p>
        </div>
        {% if pictures %}
            <div style="padding-left: 30px;">
            {% for picture in pictures %}
                <ul style="display: inline-table;list-style: none;padding-left: 10px;width: 300px;">
                    <li style="width: inherit;"><img src="{{ picture.picture.url }}" alt="Image" height="200px" width="300px"></li>
                    <!-- <li><a href="{{ picture.picture.url }}">View</a></li> -->
                    <a href="{% url 'dashboard:delete-item' 'pic' picture.id %}">Delete</a>
                    {% if picture.description %}
                        <li>Description: <br>{{ picture.description }}</li>
                    {% endif %}
                    <li>Uploaded On: {{ picture.upload_date.date }}</li>
                </ul>
            {% endfor %}
            </div>
        {% else %}
            <div>
                <center style="margin-top: 100px;">
                    <p>It is a little lonely here. 
                        <br>Upload some photos and 
                        they will appear here.
                    </p>
                </center>
            </div>    
        {% endif %}
        <div>
            <br>
            <br>
            <hr style="border: 5px solid cadetblue;">
            <center>
                <p style="background-color: aquamarine;font-size: 20px;width: 100px">Music</p>
            </center>
            <hr style="border: 5px solid cadetblue;">
        </div>
        <div>
            <p><b>Space occupied: {{ music_size|filesizeformat }}</b></p>
        </div>
        {% if musics %}
            <div style="padding-left: 30px;">
                {% for music in musics %}
                    <ul style="display: inline-table;list-style: none;padding-left: 10px;width: 300px;">
                        <li style="width: inherit;"><audio src="{{ music.track.url }}" controls></audio></li>
                        <li><a href="{% url 'dashboard:delete-item' 'music' music.id %}">Delete</a></li>
                        <li style="text-decoration: underline;">ADD TO COLLECTION</li>
                        <form action="{% url 'dashboard:add-to-collection' music.id 'music' %}" method="post">
                            {% csrf_token %}
                            <select name="collections" id="collselect">
                                <option value="favorites">Favorites</option>
                                <option value="historic">Historic</option>
                                <option value="family">Family</option>
                                <option value="friends">Friends</option>
                            </select>
                            <input type="submit" value="Add">
                        </form>
                        <li>Title: <br>{{ music.title }}</li>
                        <li>Uploaded On: {{ music.upload_date.date }}</li>
                    </ul>
                {% endfor %}
            </div>
        {% else %}
            <div>
                <center style="margin-top: 100px;">
                    <p>It is a little lonely here. 
                        <br>Upload some music and 
                        it will appear here.
                    </p>
                </center>
            </div>
        {% endif %}
        <div>
            <br>
            <br>
            <hr style="border: 5px solid cadetblue;">
            <center>
                <p style="background-color: aquamarine;font-size: 20px;width: 100px">Videos</p>
            </center>
            <hr style="border: 5px solid cadetblue;">
        </div>
        <div>
            <p><b>Space occupied: {{ vids_size|filesizeformat }}</b></p>
        </div>
        {% if videos %}
            <div style="padding-left: 23px;">
                {% for video in videos %}
                    <ul style="display: inline-table;list-style: none;padding-left: 0px; width: 48%;">
                        <li style="width: inherit;"><video src="{{ video.video.url }}" controls loop height="360px"></video></li>
                        <li><a href="{% url 'dashboard:delete-item' 'vid' video.id %}">Delete</a></li>
                        <li style="text-decoration: underline;">ADD TO COLLECTION</li>
                        <form action="{% url 'dashboard:add-to-collection' video.id 'vid' %}" method="post">
                            {% csrf_token %}
                            <select name="collections" id="collselect">
                                <option value="favorites">Favorites</option>
                                <option value="historic">Historic</option>
                                <option value="family">Family</option>
                                <option value="friends">Friends</option>
                            </select>
                            <input type="submit" value="Add">
                        </form>
                        <li>Title: <br>{{ video.title }}</li>
                        {% if video.description %}
                            <li>Description: <br>{{ video.description }}</li>
                        {% endif %}
                        <li>Uploaded On: {{ video.upload_date.date }}</li>
                    </ul>
                {% endfor %}
            </div>
        {% else %}
            <div>
                <center style="margin-top: 100px;">
                    <p>It is a little lonely here. 
                        <br>Upload some videos and 
                        they will appear here.
                    </p>
                </center>
            </div>
        {% endif %}
    </main>
</body>
</html>