{% extends 'commonops/_base.html' %} {% load static %} {% block extrahead %}<title>
  Upload Music</title>{% endblock %} {% load crispy_forms_tags %} {% block content %}
<a href="{% url 'dashboard:profile' %}">&lArr; Back</a>
<center>
  <div class="col-md-6">
    <div class="card-body">
      <h1 class="h2 font-weight-normal">Upload Audio</h1>
      <hr />
      {% if messages %}
      <ul class="messages alert alert-success">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <form enctype="multipart/form-data" method="post" class="form-horizontal">
        {% csrf_token %} {{ form|crispy }}
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="submit" class="btn btn-sm">
              <a class="btn btn-primary my-2">Upload</a>
            </button>
            <button type="button" id="done-btn" class="btn btn-sm">
              <a class="btn btn-secondary">Done</a>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</center>
<script>
  document.getElementById("done-btn").onclick = () => (window.location.pathname = "/home/");
</script>
{% endblock %}