{% extends 'dashboard/uploadphoto.html' %} {% load static %} {% block extrahead %}<title>
  Upload Music</title>{% endblock %} {% load crispy_forms_tags %}

{% block title %}
      <h1 class="h2 font-weight-normal">Upload Audio</h1>
{% endblock title %}
{% block buttons %}
  <button type="submit" class="btn btn-sm">
    <a class="btn btn-primary my-2">Upload</a>
  </button>
  <button type="button" id="done-btn" class="btn btn-sm">
    <a class="btn btn-secondary" 
    href="{% url 'player:play-audio' %}?player={{ request.session.player }}">
    Done
    </a>
  </button>
{% endblock buttons %}
