<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsUploads" aria-controls="navbarsUploads" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href={% url 'dashboard:profile' %}>Intranetsite <span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsUploads">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:upload-photo' %}">Upload Photo</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'dashboard:upload-music' %}" class="nav-link">Upload Music</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'dashboard:upload-video' %}" class="nav-link">Upload Video</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav">
        <div class="pt-2 mr-2">
          <input type="range" title="Dark Theme" name="dark-theme" id="dark-theme" max="1" min="0" step="1" value="{{ request.user.dark_fan }}">
        </div>
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'dashboard:logout' %}" tabindex="-1" aria-disabled="false">Logout</a>
          </li>
      </ul>
</nav>
