body {
  padding-top: 5rem;
  background-color: rgba(30, 35, 39, 0.911);
  color: #fff;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.asteriskField{
  color: red;
  margin-left: 5px;
}