{% extends 'commonops/_base.html' %}
{% block css %}{% endblock %}
{% block title %}Refactor Password{% endblock %}
{% block search %}{% endblock %}

{% block body %}
    <div>
        <center>
            <h1 style="color: aquamarine;">Change Password.</h1>
            <hr style="border: 5px solid aquamarine;">
            {% block error %}{% endblock %}
            <form action="{% url 'commonops:chpass' %}" method="post">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                <button type="submit" style="border-radius: 3rem;font-size: 1.3rem;color: black;background-color: aquamarine;margin-left: 5rem;" >Submit</button>
            </form>
            <p>Back to <a href="{% url 'commonops:auth' %}">Login</a> or <a href="{% url 'commonops:signup' %}">Sign Up</a></p>
        </center>
    </div>
    <script type="text/javascript">
        document.querySelector('#id_email').focus();
    </script>

{% endblock %}
