{% extends 'commonops/_base.html' %}
{% load crispy_forms_tags %}
{% block extrahead %}<title>{% block title %}Refactor Password{% endblock %}</title>{% endblock %}
{% comment %} {% block extrastyle %}.form-control{
    text-align:center;
} {% endblock %} {% endcomment %}
{% block content %}
    <div>
        <center>
            <h1 class="h3 mb-3 font-weight-normal">Change Password.</h1>
            {% block error %}{% endblock %}
            <form class="form" action="{% url 'commonops:chpass' %}" method="post">
                {% csrf_token %}
                    {{ form|crispy }}
                <button type="submit"  class="btn-lg btn-primary btn col-sm-3 mb-3" >Change Password</button>
            </form>
            <div class="mb-3 text-center">
            <p>Back to
                <a href="{% url 'commonops:auth' %}">Login</a> or
                <a href="{% url 'commonops:signup' %}">Sign Up</a>
            </p>
            </div>
        </center>
    </div>
    <script type="text/javascript">
        document.querySelector('#id_email').focus();
    </script>

{% endblock %}
