{% extends 'commonops/_base.html' %}
{% block extrahead %}
<title>Email Sent</title>
{% endblock %}
{% block customnav %}{% endblock customnav %}
{% block content %}
    <center>
        <div class="alert alert-success">
            <p>An email has been sent to <strong>{{ user }}</strong>. <br>Please check your inbox to confirm.</p>
            <a href="{% url 'commonops:auth' %}" class="btn btn-outline-primary btn-large" id="backbtn">Back</a>
        </div>
        <script>
            setTimeout(() => {
                document.querySelector('#backbtn').click();
            }, 10000)
            
        </script>
    </center>
{% endblock %}