{% extends 'commonops/_base.html' %}

{% block css %}{% endblock %}
{% block customnav%}{% endblock %}

{% block extrahead%}<title>Signup Unsuccessful</title>{% endblock %}


{% block content%}
<a href="{% url 'commonops:signup' %}">Back</a>
    <center>
        <div>
            <h1 style="color: red;">Signup Error</h1>
            <hr style="border: 2px solid red;">
            <p>There was an error registering your account.</p>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
            {{ errors }}
        </div>
    </center>
{% endblock %}