{% extends 'commonops/_base.html' %} {% load crispy_forms_tags %} {% load static %} {% block extrahead %}
<title>Sign Up</title>
<link rel="stylesheet" type="text/css" href="{% static 'commonops/css/signup.css' %}">
{% endblock %} {% block extrastyle %} .form-control{text-align: center;} .form-group{text-align:center;}
 button{ margin-top: 1rem;} {% endblock %} {% block content %}


    {% block error %}{% endblock %}
    <form method="post" class="form-signup" >
    <h1 class="h3 mb-3 font-weight-normal text-center">Create an account.</h1>
    <hr />
      <div class="row" id="row1"></div>
      <div class="row" id="row2"></div>
      {% csrf_token %} {{ form|crispy }}
      <div class="mb-1">
        <hr class="mb-4">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign Up</button>
      </div>
    </form>
    <div class="text-center">
      <p>Already have an account? <a href="{% url 'commonops:auth' %}">Login</a></p>
    </div>

<script src="{% static 'commonops/js/signup.js' %}" type="text/javascript"></script>
{% endblock %}
