{% extends 'commonops/_base.html' %}

{% block extrahead%}<title>Signup Unsuccessful</title>{% endblock %}


{% block content%}
<a href="{% url 'commonops:signup' %}">Back</a>
    <center>
        <div class="alert alert-danger my-2 ">
            <strong>Signup Error</strong>
            <hr />
            <p style="text-decoration: underline;">Please correct the errors below:</p>
            {{ errors }}
        </div>
    </center>
    <script>
        const errors = document.querySelectorAll('.errorlist')
        errors.forEach(error =>{
            error.classList.add(...['list-unstyled', 'm-2',])
        })
    </script>
{% endblock %}