{% extends 'commonops/_base.html' %}
{% load static %}

{% block css %}{% static 'commonops/css/videostyle.css' %}{% endblock %}

{% block title %} Display Video {% endblock %}

{% block body %}
    <div class="container">
        {% if vid_id == 1 %}
        <video src="{% static 'commonops/videos/Battlefield_vs_Call_of_Duty_Rap_Battle.mp4.mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/bf v cod-thumbnail.png' %}">
        </video>
        <br>
        <br>
        <p><strong>Call of Duty vs Battlefield Rap Battle.</strong></p>
        <br>
        <hr>
        <br>
        <p>This fun rap battle between the two most popular FPS series <i><a href="http://origin.com" target="_blank">Battlefield Series</a></i> and <i><a href="http://callofduty.com" target="_blank">Call Of Duty Series</a></i> was uploaded to youtube by <a href="http://youtube.com/user/jackfrags" target="_blank">Jackfrags</a> in 2015. It encompasses all the best things and bad things in both games as each try to prove to the other that the game they are a fun of is the best.</p>
        
        {% elif vid_id == 2 %}
        <video src="{% static 'commonops/videos/James Blunt -Bartender.mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/bartender-thumbnail.png' %}">
        </video>
        <br>
        <br>
        <p><strong>James Blunt - Bartender</strong></p>
        <br>
        <hr>
        <br>
        <p></p>
        
        {% elif vid_id == 3 %}
        <video src="{% static 'commonops/videos/Khalid_-_Young_Dumb__Broke_Official_Music_Video.mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/young-dumb-broke-thumbnail.png' %}"></video>
        <br>
        <br>
        <p><strong>Khalid - Young Dumb Broke Official Music Video</strong></p>
        <br>
        <hr>
        <br>
        <p></p>

        {% elif vid_id == 4 %}
        <video src="{% static 'commonops/videos/ArmA_3_-_Dancin.mp4.mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/arma-dance1-thumbnail.png' %}"></video>
        <br>
        <br>
        <p><strong>ArmA 3 Dancin</strong></p>
        <br>
        <hr>
        <br>
        <p></p>

        {% elif vid_id == 5 %}
        <video src="{% static 'commonops/videos/Arma_3_-_Dancin_but_Its_HLCSG.mp4.mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/arma-dance2-thumbnail.png' %}"></video>
        <br>
        <br>
        <p><strong>Arma 3 Dancin but Its HLCSG</strong></p>
        <br>
        <hr>
        <br>
        <p></p>
        
        {% elif vid_id == 6 %}
        <video src="{% static 'commonops/videos/Keith_Urban_-_Break_On_Me_Lyric_Video.mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/break-on-me-thumbnail.png' %}"></video>
        <br>
        <br>
        <p><strong>Keith Urban - Break On Me (Lyric Video)</strong></p>
        <br>
        <hr>
        <br>
        <p></p>

        {% elif vid_id == 7 %}
        <video src="{% static 'commonops/videos/videoplayback (4).mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/summer-thumbnail.png' %}"></video>
        <br>
        <br>
        <p><strong>Keith Urban - Long Hot Summer</strong></p>
        <br>
        <hr>
        <br>
        <p></p>

        {% elif vid_id == 8 %}
        <video src="{% static 'commonops/videos/Keith Urban - We Were.mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/we-were-thumbnail.png' %}"></video>
        <br>
        <br>
        <p><strong>Keith Urban - We Were</strong></p>
        <br>
        <hr>
        <br>
        <p></p>

        {% elif vid_id == 9 %}
        <video src="{% static 'commonops/videos/cause i dont care.mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/careless-thumbnail.png' %}"></video>
        <br>
        <br>
        <p><strong>Justin Bieber ft Ed Sheeran - Cause I Dont Care</strong></p>
        <br>
        <hr>
        <br>
        <p></p>

        {% elif vid_id == 10 %}
        <video src="{% static 'commonops/videos/videoplayback (3).mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/comeback-thumbnail.png' %}"></video>
        <br>
        <br>
        <p><strong>Keith Urban - Comeback</strong></p>
        <br>
        <hr>
        <br>
        <p></p>

        {% elif vid_id == 11 %}
        <video src="{% static 'commonops/videos/videoplayback (2).mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/copcar-thumbnail.png' %}"></video>
        <br>
        <br>
        <p><strong>Keith Urban - Cop Car</strong></p>
        <br>
        <hr>
        <br>
        <p></p>

        {% elif vid_id == 12 %}
        <video src="{% static 'commonops/videos/Stephen - Crossfire.mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/crossfire-thumbnail.png' %}"></video>
        <br>
        <br>
        <p><strong>Stephen - Crossfire</strong></p>
        <br>
        <hr>
        <br>
        <p></p>

        {% elif vid_id == 13 %}
        <video src="{% static 'commonops/videos/videoplayback (5).mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/livefree-thumbnail.png' %}"></video>
        <br>
        <br>
        <p><strong>Keith Urban - Live Free</strong></p>
        <br>
        <hr>
        <br>
        <p></p>

        {% elif vid_id == 14 %}
        <video src="{% static 'commonops/videos/Ann Marie & Mr Eazie - Let me live.mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/live-thumbnail.png' %}"></video>
        <br>
        <br>
        <p><strong>Ann Marie & Mr Eazie - Let me live</strong></p>
        <br>
        <hr>
        <br>
        <p></p>

        {% elif vid_id == 15 %}
        <video src="{% static 'commonops/videos/postcards - James Blunt.mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/postcards-thumbnail.png' %}"></video>
        <br>
        <br>
        <p><strong>James Blunt - postcards</strong></p>
        <br>
        <hr>
        <br>
        <p></p>

        {% elif vid_id == 16 %}
        <video src="{% static 'commonops/videos/Alan Walker - Strongest.mp4' %}" controls autoplay loop width="720" poster="{% static 'commonops/images/strongest-thumbnail.png' %}"></video>
        <br>
        <br>
        <p><strong>Alan Walker - Strongest</strong></p>
        <br>
        <hr>
        <br>
        <p></p>

        {% endif %}
    </div>
{% endblock %}
